################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Redmine/obj
/Redmine/bin/Debug/net8.0
